@import './../../assets/styles/variables.scss';

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

    .logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        margin-bottom: 1rem;
        border-radius: 50%;
        padding: 1rem;

        img {
            height: auto;
            width: 200px;
        }
    }

    input {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .loginBtn {
        color: $white;
        background-color: grey;
        border-radius: 8px;
        padding: 8px;
        width: 250px;
        justify-content: center;
        align-items: center;
        display: flex;
        text-transform: uppercase;
        cursor: not-allowed;
        pointer-events: none;
        
        &.activeBtn {
            background-color: $primary-green;
            cursor: pointer;
            pointer-events: all;
        }
    }

    .passwordContainer {
        position: relative;

        .passwordIcon {
            position: absolute;
            color: black;
            top: 12px;
            right: 10px;
            cursor: pointer;
        }
    }
}
