@import './../../assets/styles/variables.scss';
@import './../../assets/styles/mixins.scss';

.wrapper {
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.search {
    width: 100%;
}

.guestRow,
.tableHeaders {
    display: grid;
    grid-template-columns: 5% 20% 40% 35%;
    justify-content: space-between;
    padding: 2%;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 8px;
    align-items: center;
}

.tableHeaders {
    @include for-phone-only {
        display: none;
    }

    border-bottom: none;
    margin-bottom: 0;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.guestRow {
    @include for-phone-only {
        div:first-child {
            display: none;
        }

        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding-bottom: 1rem;
    }
}

.comments  {
    display: flex;
    align-items: center;
    justify-content: center;

    @include for-phone-only {
        font-size: 12px;
    }
}

.downloadBtn {
    height: 40px;
    background-color: $dark-pastel-green;
    border: 1px solid $primary-green;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;

    &:hover {
        background-color: $primary-green;
    }
}

.downloadCard {
    flex-direction: column;
    padding: 10%;
    justify-content: center;
    align-items: center;
    background-color: $white; 
    color: $primary-black;
    display: none;
    
    &.showDownloadTemplate {
        display: flex;
    }

    @include for-phone-only {
        .logoContainer {
            width: 75%;
        }
    }
}

.qrColumn {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include for-phone-only {
        flex-direction: column;
        row-gap: 1rem;
    }
}

.guestInfo {
    .nameContainer {
        .name {
            margin-right: 8px;
        }
    }

    @include for-phone-only {
        .nameContainer {
            font-size: 1.25rem;

            .name {
                margin-right: 8px;
            }

            .userCheckedIn {
                color: $dark-pastel-green;
            }
        }

        .email,
        .phone {
            font-size: 12px;
        }
    }
}

.searchContainer {
    position: relative;

    .searchIcon {
        position: absolute;
        right: 10px;
        top: 12px;
        color: black;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
        border: 1px solid $primary-green;
        background-color: $dark-pastel-green;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            background-color: $primary-green;
        }

        .addGuestIcon {
            margin-right: 4px;
        }
    }
}

.tableElements {
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
}

.previewCard {
    width: 100%;
    display: flex;
    justify-content: center;

    .preview {
        width: 100%;
        display: none;
    }
}
