@import './../../assets/styles/mixins.scss';

.homeContainer {
    padding: 1rem;

    .welcomeMsg {
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    .metricWrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem; 
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid #EAEAEA;

        @include for-phone-only {
            display: flex;
            flex-direction: column;
        }

        .metric {
            &:first-child {
                background-color: $tyrian-purple;
            }

            &:last-child {
                background-color: $burnt-sienna;
            }
        }
    }

    .guestsCounter {
        .guestsHeader {
            font-size: 1.25rem;
            text-transform: uppercase;
        }

        .guestsContainer {
            display: grid;
            grid-template-columns: 68% 28%;
            column-gap: 4%;
            height: 400px;

            @include for-phone-only {
                display: flex;
                flex-direction: column;
            }
        }
        
        .checkedInContainer {
            border-right: 1px solid #EAEAEA;
            height: 350px;

            @include for-phone-only {
                border-right: 0;
            }

            .checkedInWrapper {
                padding: 0 1rem;
            }

            .checkedInGuest {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                min-height: 40px;
                border-bottom: 1px solid #353535;
                margin-bottom: 8px;
                column-gap: 1rem;
                padding-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .pendingGuests {
            .pendingGuest {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 40px;
                border-bottom: 1px solid #353535;
                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .nothingToShowHere {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
