/* Common */
$mobile-max-width: 430px;
$tab-min-width: 431px;
$tab-max-width: 1024px;

/* Colors */
$primary-black: #010101;
$secondary-black: #333333;
$white: #ffffff;
$primary-green: #65de2e;
$dark-pastel-green: #01B636;
$tyrian-purple: #5F1A37;
$burnt-sienna: #E07A5F;
$disabled-grey: #C8C8C8;


